:root {
  --body_background: white;
  --body_color: black;
  --body_colorStatic: white;
  --link_color: rgb(67, 155, 243);
  --button_background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  --button_color:rgb(255, 255, 255);
  --alt_button_background: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  --input_border_color: rgb(67, 155, 243)
}

[data-theme="dark"] {
  --body_background: hsla(225, 50%, 6%, 1);
  --body_color: white;
  --link_color: rgb(67, 155, 243);
  --button_background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  --button_color:rgb(255, 255, 255);
  --alt_button_background: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
}

* {
  margin: 0;
  position: unset;
  transition: all 0.3s ease-in-out;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body_background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
